**/certs
.idea
assets
.kube

tmp/
# values.yaml
values.yaml

# decrypted files
**/*-dec.*

# backup files
**/bak/*

.env
.vscode/

# secret files
service-account.json
dockercfg.yaml
sa.json
certchain.pem
privkey.pem
webtls.yaml
cert-secret.yaml

# junk files
QUESTIONS.md
out/
darwin-amd64/
index.yaml
**/.DS_Store
*.orig
.idea/

values.yaml.francisco

