.idea
assets
.kube

tmp/
# values.yaml
/values.yaml
#/private.key
#/ssl.crt

# decrypted files
**/*-dec.*

# backup files
**/bak/*

.env
.vscode/

# secret files

dockercfg.yaml
sa.json

certs/*key
certs/*pem
certs/*crt


# junk files
QUESTIONS.md
out/
darwin-amd64/
index.yaml
**/.DS_Store
*.orig
.idea/


