namePrefix: cf-
basePath: /var/lib/codefresh

helperImage: "alpine:3.8"

# Enter default nodeSelector for volumes nodeAffinity - see https://kubernetes.io/docs/concepts/storage/volumes/#local 
defaultNodeSelector:
#  kubernetes.io/hostname: storage-node-01

# Enter nodes where to run mkdirs for all the volumes
mkdirPods:
  nodes:
#  - storage-node-01

volumes:
  mongodb:
    storageSize: 8Gi
    nodeSelector: {}
    #  kubernetes.io/hostname: storage-node-01

  postgresql:
    storageSize: 8Gi
    nodeSelector: {}
    #  kubernetes.io/hostname: storage-node-01

  consul-0:
    storageSize: 1Gi
    nodeSelector: {}
    #  kubernetes.io/hostname: storage-node-01

  redis:
    storageSize: 8Gi
    nodeSelector: {}
    #  kubernetes.io/hostname: storage-node-01

  rabbitmq:
    storageSize: 8Gi
    nodeSelector: {}
    #  kubernetes.io/hostname: storage-node-01

  registry:
    storageSize: 100Gi
    nodeSelector: {}
    #  kubernetes.io/hostname: storage-node-01

  cronus:
    storageSize: 1Gi
    nodeSelector: {}
    #  kubernetes.io/hostname: storage-node-01

  store:
    storageSize: 8Gi
    nodeSelector: {}
    #  kubernetes.io/hostname: storage-node-01
    
  chartmuseum:
    storageSize: 8Gi
    nodeSelector: {}
    #  kubernetes.io/hostname: storage-node-01

  builder-0:
    storageSize: 100Gi
    nodeSelector: {}
    #  kubernetes.io/hostname: storage-node-01

  runner-0:
    storageSize: 100Gi
    nodeSelector: {}
    #  kubernetes.io/hostname: storage-node-01

  chartmuseum:
    storageSize: 8Gi
    nodeSelector: {}
    #  kubernetes.io/hostname: storage-node-01