# This file is in here to serve the local development using Merlin

{{ $port := GetAvailablePort }}
{{ $internalPort := GetAvailablePort }}

operators:

- name: connect
  type: cmd
  description: Establish connection to cluster
  spec:
    program: telepresence
    detached: true
    env:
    - KUBECONFIG={{ .Merlin.kube.path }}
    - SERVICE_AVAILABLE_PORT={{ $port }}
    - SERVICE_AVAILABLE_INTERNAL_PORT={{ $internalPort }}
    args:
    - -s
    - {{ .Merlin.kube.namespace }}-cfapi
    - --namespace
    - {{ .Merlin.kube.namespace }}
    - --context
    - {{ .Merlin.kube.context }}
    - --expose
    - {{ $port }}:{{ .Values.targetPort }}
    - --expose
    - {{ $internalPort }}:{{ .Values.targetInternalPort }}
    {{ if .Values.telepresence.run }}
    - {{ .Values.telepresence.run }}
    {{ else }}
    - --run-shell
    {{ end }}
 
- name: start
  type: cmd
  description: Start nodejs application
  spec:
    program: node
    env:
    - PORT={{ env.Getenv "SERVICE_AVAILABLE_PORT" }}
    - INTERNAL_SERVER_PORT={{ env.Getenv "SERVICE_AVAILABLE_INTERNAL_PORT" }}
    - FORMAT_LOGS_TO_ELK=false
    args:
    - --inspect={{ GetAvailablePort }}
    - {{ .Values.program }}





